# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Environment variables
.env

# Database
database.db

# Reports
reports/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Git
.git/